@font-face {
    font-family: Ambroise;
    src: url("fonts/Ambroise Regular.otf") format("opentype");
}
@font-face {
    font-family: MuseoSans;
    src: url("fonts/Museo Sans 100 Regular.otf") format("opentype");
}


html {font-size: 1em}
.centerpiece h1{ font-size: 75px; }
.centerpiece .desc p{ font-size: 16px; }
.centerpiece ul{ font-size: 18px; }
.pl2 {min-width: 125px;}
.scroll-top {width: 40px; height: 40px;}

.effect a {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 20px;
}



@media (min-width: 576px) {
    html { font-size: 1em; }
	.centerpiece h1{ font-size: 85px; }
	.centerpiece .desc p{ font-size: 17px; }
	.centerpiece ul{ font-size: 20px; }
	.scroll-top {width: 50px; height: 50px;}
}
@media (min-width: 768px) {
    html { font-size: 1.1em; }
	.centerpiece h1{ font-size: 100px; }
	.centerpiece .desc p{ font-size: 18px; }
	.centerpiece ul{ font-size: 22px; }
	.pl2 {min-width: 90px;}
	.scroll-top {width: 60px; height: 60px;}
	.effect a {
	    width: 50px;
	    height: 50px;
	    margin-right: 17px;
	    font-size: 20px;
	}
}
@media (min-width: 992px) {
    html { font-size: 1.2em; }
	.centerpiece h1{ font-size: 120px; }
	.centerpiece .desc p{ font-size: 20px; }
	.centerpiece ul{ font-size: 24px; }
	.scroll-top {width: 70px; height: 70px;}
	.effect a {
	    width: 60px;
	    height: 60px;
	    margin-right: 20px;
	    font-size: 25px;
	}
}
@media (min-width: 1200px) {
    html { font-size: 1.25em; }
	.centerpiece h1{ font-size: 130px; }
	.centerpiece .desc p{ font-size: 22px; }
	.scroll-top {width: 75px; height: 75px;}
}

.mobile { display: none }
@media (max-width: 768px) {
    .mobile { display: block }
    .desktop { display: none }
}

html, body {
	height: 100%;
	width: 100%;
	padding:0;
	margin:0;
	background-color: #000000;
	color: #ffffff;
	font-family: MuseoSans;
	scroll-behavior: smooth;
}


.container{
	overflow:hidden;
	box-sizing: border-box;
}

.landing{
	height: 100vh;
	background-image: url('images/rockclimber.png');
	background-attachment: fixed;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	padding:0;
	margin:0 auto;
	text-align: center;
}

.centerpiece {
	text-align: center;
	margin: 0 auto;
	max-width: 880px;
	position: absolute;
	top: 50%;
	left: 60px;
	right: 60px;
	transform: translatey(-50%);
}


.centerpiece h1{
	letter-spacing: 6px;
	line-height: 1.2em;
	font-family: Ambroise;
	text-transform: lowercase;
	margin-bottom:20px;
}

.centerpiece .desc {
	margin:0 auto;
	margin-bottom: 40px;
	max-width: 47em;
}

.centerpiece .desc p{
	letter-spacing: 2px;
	line-height: 1.2em;
	font-family: MuseoSans;
	margin: 0;
}

.centerpiece ul{
	padding-inline-start:0;
}

.centerpiece li{
	display:inline;
	text-transform: uppercase;
	padding: 0 10px 0 10px;
}

.centerpiece a{
	color:#ffffff;
	cursor: pointer;
}

.centerpiece a:not([href]):not([class]):hover{
	color:#c9c2b3;
	text-decoration: none;
}


#socials {
	position: absolute;
	margin: 0 auto;
	max-width: 880px;
	left: 60px;
	right: 60px;
	bottom: 7%;
}

.light {
	background-color: #6e6c68;
}
.dark {
	background-color: #292827;
}
.med {
	background-color: #3b3937;
}

/* not the landing container*/
.nl {
	padding: 35px 7% 50px 7%;
	margin: 0 auto;
}
.nl h2 {
	margin-bottom: 50px;
}

/*skills*/
.progress-label {
	padding: 0px 10px;
    float: left;
    margin-bottom: 0px;
    top: -4px;
    position: relative;
	min-width: 125px;
}

.pl{
	padding: 0px 10px;
    float: left;
    margin-bottom: 0px;
    top: -4px;
    position: relative;
}

/*portfolio*/
.preview {
	max-width: 100%;
	height: auto;
}

.slick-center {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);    
}
    /* the slides */
.slick-slide {
    margin: 0 20px;
}
    /* the parent */
.slick-list {
	padding:45px 60px !important;
	margin-left:30px !important;
    margin: 0 -20px;
}
.sc{
	display: none;
	position: relative;
	background-color:#292827;
	padding-top: 0.5rem;
	margin-top: 0.5rem;
	padding-bottom: 2rem;
	margin-bottom: 0.5rem;
}
.sc0{
	display: block;
}



/*.dd{
	content: "\F077";  /* this is your text. You can also use UTF-8 character codes as I do here 
    font-family: FontAwesome;
}*/

.dd:hover{
	cursor:pointer;
}
/*.pcenter .collapsed{
	content: "\F078";  /* this is your text. You can also use UTF-8 character codes as I do here 
    font-family: FontAwesome;
    /*left:-5px;
    position:absolute;
    top:0;
}*/



.pcenter{
	margin: 0 auto;
	text-align:center;
}
.pcenter h1{
	font-family: MuseoSans;
	margin-top: 1.5rem;
	
}
.pcenter .badge{
	margin-right: 4px;
	margin-left: 3px;
	margin-bottom: 7px;
	
}
.pcenter hr{
	border-top: 1px solid #919191;
}
.pcenter ul{
	display: inline;
	padding-inline-start: 0;
}
.scimg {
	width: 30%;
	height: auto;
	margin-right: 2px;
	margin-left: 2px;
	border: 3px solid #555;
}
.scdesc{
	text-align: justify;
	font-family: MuseoSans;
	margin-left: 15px;
	margin-right: 15px;
}



/* contact */
.nlc {
	padding: 35px 7% 50px 7%;
	margin: 0 auto;
}
.nlc hr{
	border-top: 1px solid #333230;
}
.nlc p{
	color: #8c8984;
}
.nlc ul{
	display: table;
	margin: 0 auto;
}
.nlc li{
	display: inline-table;
	padding-left: 2rem;
	padding-right: 2rem;
	white-space: nowrap;
}
.nlc .fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}
.nlc .icon-background{
	color: #fff;
}
.nlc a{
	color: #b8b8b4;
}
.nlc a:hover{
	text-decoration: none;
	color: #dbdad9;
}

.nlc .icon {
	background-size: 32px 32px;
    height: 32px;
    width: 32px;
    display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	float: left;
}

.ema {background: url('images/envelope.png') no-repeat;}
.twi {background: url('images/twitter.png') no-repeat;}
.fbk {background: url('images/facebook.png') no-repeat;}
.linkedin {background: url('images/linkedin.png') no-repeat;}

.darkp {
	color: #6e6c68;
	text-align: center;
	margin-top: 2.5rem;
}

/* effects */
.effect .buttons {
  margin: auto;
  display: flex;
  justify-content: center;
}

/**/
.effect {
  display: flex; 
}
.effect a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  color: #fff;
  border: 2px solid #fff;
}
.effect a i {
  position: relative;
  z-index: 3;
}
.effect a:last-child {
  margin-right: 0px;
}
.effect a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.effect a i {
  display: inline-block;
  vertical-align: middle;
}



/* thurio effect */
.effect.thurio a {
  transition: border-radius 0.2s linear 0s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect.thurio a i {
  transition: -webkit-transform 0.01s linear 0s;
  transition: transform 0.01s linear 0s;
  transition: transform 0.01s linear 0s, -webkit-transform 0.01s linear 0s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.effect.thurio a:hover {
  border-radius: 0px;
}

/* scroll to top button */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  display: none;
}
.scroll-top i {
  display: inline-block;
  color: #fff;
}