@font-face {
    font-family: Ambroise;
    src: url("fonts/Ambroise Regular.otf") format("opentype");
}
@font-face {
    font-family: MuseoSans;
    src: url("fonts/Museo Sans 100 Regular.otf") format("opentype");
}
@font-face {
    font-family: Futura;
    src: url("fonts/Futura PT Book.otf") format("opentype");
}

body {
    height: 100vh;
    background-image: url('images/m33.jpg');
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    font-family: MuseoSans;
	padding:0;
	margin:0;
	color: #ffffff
}

.container{
	width:80%
	margin:auto;
	overflow:hidden;
}

.centerpiece {
	text-align: center;
}

.centerpiece h1{
	letter-spacing: 6px;
	font-size: 130px;
	line-height: 1.2em;
	font-family: Ambroise;
	text-transform: lowercase;
}

.centerpiece h2{
	letter-spacing: 2px;
	font-size: 22px;
	font-family: MuseoSans;
}

.centerpiece li{
	display:inline;
}

#socials li{
	display:inline;
}