@font-face {
    font-family: Ambroise;
    src: url("fonts/Ambroise Regular.otf") format("opentype");
}
@font-face {
    font-family: MuseoSans;
    src: url("fonts/Museo Sans 100 Regular.otf") format("opentype");
}
@font-face {
    font-family: Futura;
    src: url("fonts/Futura PT Book.otf") format("opentype");
}

body {
	padding:0;
	margin:0;
	background-color: #000000;
}

.container{
	width:80%
	margin:auto;
	overflow:hidden;
}

.landing{
	height: 100vh;
	background-image: url('images/m33.jpg');
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	font-family: MuseoSans;
	padding:0;
	margin:0 auto;
	color: #ffffff;
	text-align: center;
}

.centerpiece {
	text-align: center;
	margin: 0 auto;
	max-width: 880px;
	position: absolute;
	top: 50%;
	left: 60px;
	right: 60px;
	transform: translatey(-50%);
}

.centerpiece h1{
	letter-spacing: 6px;
	font-size: 130px;
	line-height: 1.2em;
	font-family: Ambroise;
	text-transform: lowercase;
	margin-bottom:20px;
}

.centerpiece .desc {
	margin:0 auto;
	margin-bottom: 40px;
	max-width: 47em;
}

.centerpiece .desc p{
	letter-spacing: 2px;
	font-size: 22px;
	line-height: 1.2em;
	font-family: MuseoSans;
	margin: 0;
}

.centerpiece li{
	display:inline;
	text-transform: uppercase;
	padding: 0 10px 0 10px;
}

.centerpiece a{
	color:#ffffff;
}

.centerpiece a:hover{
	color:#c9c2b3;
	text-decoration: none;
}

#socials {
	position: absolute;
	width: 100%;
	max-width: 880px;
	left: 60px;
	right: 60px;
	bottom: 60px;
	margin: 0 auto;
}


/* styles for a common effect */
.effect {
  display: flex;
  
  a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;
    color: $basic-dark-color; //or change to your own color
    border: 2px solid $basic-dark-color; //or change to your own color
    
    i {
      position: relative;
      z-index: 3;
    }
    
    &:last-child {
      margin-right: 0px;
    }
    
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* varrius effect */
.effect.varrius {
  
  a {
    transition: all 0.2s linear 0s;
    
    &:after {
      content: "";
      display: block;
      width: 90%;
      height: 90%;
      top: -110%;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      background-color: $basic-dark-color;
      border-radius: $border-radius;
    }
    
    &:hover {
      color: $basic-light-color;
      
      &:after {
        top: 5%;
        transition: all 0.2s linear 0s;
      }
    }
  }
}